html, body {
  overflow: hidden;
  font-family: sans-serif;
  touch-action: none;
  /* height: 100%; */
  /* these will override browser defaults for margin & padding:  */
  margin:0px;
  padding:0px;
}

body {
  touch-action: none;
  /* overflow-y: scroll; */
  position: relative;
}




/* MAPBOX POPUP STYLES */

.mapboxgl-ctrl-bottom-left {
  z-index: 1;
}

.mapboxgl-popup-content {
  overflow-y: auto;
  overflow-x: auto;
  max-width: 145px;
  max-height: 200px;
  background: rgba(255,255,255,.95);
  border-radius: 5px;
  padding: 12px 14px 11px 14px;
  box-shadow: 3px 4px 4px 0 rgba(0, 0, 0, 0.2), 0 10px 18px 0 rgba(0, 0, 0, 0.2);
  z-index: 0;
}


.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip{
    border-top-color: rgba(255,255,255,1);
    z-index: 1;
}
.mapboxgl-popup-anchor-top .mapboxgl-popup-tip{
    border-bottom-color: rgba(255,255,255,1);
    z-index: 1;
}
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip{
    border-right-color: rgba(255,255,255,1);
    z-index: 1;
}
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip{
    border-left-color: rgba(255,255,255,1);
    z-index: 1;
}
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip{
    border-bottom-color: rgba(255,255,255,1);
    z-index: 1;
}
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip{
    border-bottom-color: rgba(255,255,255,1);
    z-index: 1;
}
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip{
    border-top-color: rgba(255,255,255,1);
    z-index: 1;
}
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip{
    border-top-color: rgba(255,255,255,1);
    z-index: 1;
}