body {
  font-family: sans-serif;
}


.mapboxgl-popup-content {
  overflow-y: scroll;
  overflow-x: scroll;
  max-width: 120px;
  max-height: 200px;
  opacity: 0.95;
  border-radius: 5px;
  padding: 11px 13px 10px 13px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
